In [1]:
# Import our dependencies

import pandas as pd
import boto3
from sqlalchemy import create_engine

import datetime
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score
from sklearn import tree
from matplotlib.backends.backend_pdf import PdfPages

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
#Creating the low level functional client
client = boto3.client(
    's3',
    aws_access_key_id = 'AKIAR2BOU5XCOOKCAOFS',
    aws_secret_access_key = '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',
    region_name = 'us-east-1'
)

In [3]:
# Fetching the list of existing buckets
clientResponse = client.list_buckets()
    
# Printing the bucket names 
print('Printing bucket names...')
for bucket in clientResponse['Buckets']:
    print(f'Bucket Name: {bucket["Name"]}')

Printing bucket names...
Bucket Name: emmp-finalproject-bucket

In [4]:
# Creating the S3 object
obj = client.get_object(
    Bucket = 'emmp-finalproject-bucket',
    Key = 'df_econ2.csv'
)
    
# Reading data from the S3 object
economic_data_df = pd.read_csv(obj['Body'])
    
# Print the data frame
print('Printing the data frame...')
print(economic_data_df)

Printing the data frame...
       Date  inflation  S&Pyield  unemployment  UMCSENT  homeindex  UMCSENT.1
0    200001   0.000000 -0.610843           4.0    111.3     0.0646      111.3
1    200002   0.068802 -0.241297           4.1    107.1     0.0646      107.1
2    200003   0.096717  1.160638           4.0    109.2     0.0646      109.2
3    200004   0.009360 -0.369549           3.8    110.7     0.0666      110.7
4    200005   0.009353 -0.262981           4.0    106.4     0.0666      106.4
..      ...        ...       ...           ...      ...        ...        ...
247  202008   0.037833  0.840776           8.4     80.4     0.0808       80.4
248  202009   0.016722 -0.470736           7.8     81.8     0.0808       81.8
249  202010   0.004987 -0.331989           6.9     76.9     0.1077       76.9
250  202011  -0.007338  1.290548           6.7     80.7     0.1077       80.7
251  202012   0.011268  0.445458           6.7     79.0     0.1077       79.0

[252 rows x 7 columns]

In [5]:
# Creating the S3 object - genre data 
obj = client.get_object(
    Bucket = 'emmp-finalproject-bucket',
    Key = 'smoothed12_genres.csv'
)
    
# Reading data from the S3 object
media_df = pd.read_csv(obj['Body'])
    
# Print the data frame
print('Printing the data frame...')
print(media_df)

Printing the data frame...
       date    Action  Adventure    Comedy     Drama    Horror  \
0    200601  0.152123   0.231897  0.274552  0.230195  0.111233
1    200602  0.076489   0.344049  0.239367  0.132611  0.156461
2    200603  0.183584   0.283096  0.225794  0.100863  0.115545
3    200604  0.069127   0.223197  0.331895  0.211193  0.101817
4    200605  0.337402   0.251132  0.097115  0.083424  0.061260
..      ...       ...        ...       ...       ...       ...
175  202008  0.110500   0.372711  0.031772  0.185278  0.171601
176  202009  0.131132   0.418933  0.035941  0.166049  0.109102
177  202010  0.136187   0.441706  0.025901  0.190018  0.122910
178  202011  0.144255   0.465409  0.020866  0.105990  0.157925
179  202012  0.287563   0.270904  0.039421  0.063690  0.279566

     Thriller/Suspense
0             0.000000
1             0.051024
2             0.091117
3             0.062772
4             0.169667
..                 ...
175           0.128138
176           0.138843
177           0.083278
178           0.105555
179           0.058856

[180 rows x 7 columns]

In [6]:
#Renaming Thriller/Suspense to make it compatible with SQL 

media_df = media_df.rename(columns={'Thriller/Suspense': 'ThrillerSuspense'})



media_df.head()

     date    Action  Adventure    Comedy     Drama    Horror  ThrillerSuspense
0  200601  0.152123   0.231897  0.274552  0.230195  0.111233          0.000000
1  200602  0.076489   0.344049  0.239367  0.132611  0.156461          0.051024
2  200603  0.183584   0.283096  0.225794  0.100863  0.115545          0.091117
3  200604  0.069127   0.223197  0.331895  0.211193  0.101817          0.062772
4  200605  0.337402   0.251132  0.097115  0.083424  0.061260          0.169667

In [7]:
#Setting the date as index

media_df.set_index('date', inplace=True)
media_df.head()

          Action  Adventure    Comedy     Drama    Horror  ThrillerSuspense
date
200601  0.152123   0.231897  0.274552  0.230195  0.111233          0.000000
200602  0.076489   0.344049  0.239367  0.132611  0.156461          0.051024
200603  0.183584   0.283096  0.225794  0.100863  0.115545          0.091117
200604  0.069127   0.223197  0.331895  0.211193  0.101817          0.062772
200605  0.337402   0.251132  0.097115  0.083424  0.061260          0.169667

In [8]:
#Cleaning economic data

clean_economics_df = economic_data_df[['Date', 'inflation', 'S&Pyield', 'unemployment', 'UMCSENT', 'homeindex']]
clean_economics_df.head()

     Date  inflation  S&Pyield  unemployment  UMCSENT  homeindex
0  200001   0.000000 -0.610843           4.0    111.3     0.0646
1  200002   0.068802 -0.241297           4.1    107.1     0.0646
2  200003   0.096717  1.160638           4.0    109.2     0.0646
3  200004   0.009360 -0.369549           3.8    110.7     0.0666
4  200005   0.009353 -0.262981           4.0    106.4     0.0666

In [9]:
# ranaming S&Pyield to make it compatible with database 

clean_economics_df = clean_economics_df.rename(columns={'S&Pyield': 'SPyield'})
clean_economics_df.head()

     Date  inflation   SPyield  unemployment  UMCSENT  homeindex
0  200001   0.000000 -0.610843           4.0    111.3     0.0646
1  200002   0.068802 -0.241297           4.1    107.1     0.0646
2  200003   0.096717  1.160638           4.0    109.2     0.0646
3  200004   0.009360 -0.369549           3.8    110.7     0.0666
4  200005   0.009353 -0.262981           4.0    106.4     0.0666

In [10]:
#Removing NA

clean_economics_df = clean_economics_df.dropna()
clean_economics_df.head()

     Date  inflation   SPyield  unemployment  UMCSENT  homeindex
0  200001   0.000000 -0.610843           4.0    111.3     0.0646
1  200002   0.068802 -0.241297           4.1    107.1     0.0646
2  200003   0.096717  1.160638           4.0    109.2     0.0646
3  200004   0.009360 -0.369549           3.8    110.7     0.0666
4  200005   0.009353 -0.262981           4.0    106.4     0.0666

In [11]:
#Setting the Date as index

clean_economics_df.set_index('Date', inplace=True)
clean_economics_df.head()

        inflation   SPyield  unemployment  UMCSENT  homeindex
Date
200001   0.000000 -0.610843           4.0    111.3     0.0646
200002   0.068802 -0.241297           4.1    107.1     0.0646
200003   0.096717  1.160638           4.0    109.2     0.0646
200004   0.009360 -0.369549           3.8    110.7     0.0666
200005   0.009353 -0.262981           4.0    106.4     0.0666

In [12]:
#Connecting Pandas and SQL

#creating engine

db_string = f"postgres://postgres:PASSWORD@127.0.0.1:5432/final_project"
engine = create_engine(db_string)

In [ ]:
# DataFrames to a SQL tables

clean_economics_df.to_sql('economics', con=engine, if_exists='append')

In [ ]:
# DataFrames to a SQL tables

media_df.to_sql('media_info', con=engine, if_exists='append')

In [ ]:
# Tables joined in SQL 
#Importing the economics & media data combined 

medianeconomics_df = pd.read_sql('medianeconomics', con=engine)
medianeconomics_df.head()

In [ ]:
medianeconomics_df.to_csv (r'C:\Users\Mac_1\Desktop\export_dataframe.csv', index = False, header=True)

In [ ]:
# Machine Learning Model

In [ ]:
#Setting the date as index

medianeconomics_df.set_index('Date', inplace=True)
medianeconomics_df.head()

In [ ]:
# turn the index back into a read date for better graphing

dt=[]
for value in medianeconomics_df.index.values:
    blurp=datetime.datetime(value//100,int(value%100),1)
    dt.append(blurp)
medianeconomics_df['Date']=dt
medianeconomics_df.set_index(['Date'],inplace=True)
medianeconomics_df.head()

In [ ]:
#Plotting corr

plt.matshow(medianeconomics_df.corr())
plt.xticks(np.arange(11), medianeconomics_df.columns, rotation=90)
plt.yticks(np.arange(11), medianeconomics_df.columns, rotation=0)
plt.colorbar()
plt.show()

In [ ]:
# Defining features set

X=medianeconomics_df[['inflation','SPyield','unemployment','UMCSENT','homeindex']]
X

In [ ]:
# Scaling data 
data_scaler=StandardScaler()
X_scaled=data_scaler.fit_transform(X)

In [ ]:
# try linear regression
# not applying train_test_split; linear regression doesn't have enough factors to over-fit
with PdfPages('LinearRegression.pdf') as pdf:
    for column in medianeconomics_df.columns[5:]:
        y=medianeconomics_df[[column]]
        model=LinearRegression()
        model.fit(X,y)
        y_pred=model.predict(X)
        r2=model.score(X,y)
        plot_df=y
        plot_df['linear']=y_pred
        plot_title=f'Linear fit for {column}, R-squared {r2}'
        plot_df.plot.line(title=plot_title)
        pdf.savefig()
    plt.close()

In [ ]:
plot_df.plot.line(title=plot_title)

In [ ]:
# try a decision tree
with PdfPages('DecisionTree.pdf') as pdf:
    for column in medianeconomics_df.columns[5:]:
        y=medianeconomics_df[[column]]
        
        X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)       
    
        clf =tree.DecisionTreeRegressor()
        clf = clf.fit(X_train,y_train)
        y_pred=clf.predict(X_test)
        ev_score=explained_variance_score(y_test,y_pred)
        plot_df=y_test
        plot_df['tree']=y_pred
        plot_title=f'Tree fit for {column}, Explained Variance {ev_score}'
        plot_df.plot.line(title=plot_title)
        pdf.savefig()
    plt.close()

In [ ]:
plot_df.plot.line(title=plot_title)

In [ ]:
%matplotlib inline
# try a random forest regressor
from sklearn.ensemble import RandomForestRegressor


i=0
with PdfPages('RandomForest.pdf') as pdf:
    for column in medianeconomics_df.columns[5:]:
        y=medianeconomics_df[[column]]
        X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=42)       
        clf = RandomForestRegressor(n_estimators=100)
        clf = clf.fit(X_train,y_train)
        y_pred=clf.predict(X_test)
        ev_score=explained_variance_score(y_test,y_pred)
        plot_df=y_test
        plot_df['tree']=y_pred
        plot_title=f'Forest fit for {column}, Explained Variance {ev_score}'
        
        #plt.ylabel('market share')
        plot_df.plot.line(title=plot_title)
        
        pdf.savefig()
    plt.close()

In [ ]:
plot_df.plot.line(title=plot_title)