In [2]:
import sqlite3
import pandas

In [3]:
connection=sqlite3.connect('aquarium.db')

In [4]:
print(connection.total_changes)

0

In [5]:
cursor=connection.cursor()
cursor.execute('CREATE TABLE fish (name TEXT, species TEXT, tank_number INTEGER)')

In [6]:
cursor.execute("INSERT INTO fish VALUES ('Sammy', 'shark', 1)")
cursor.execute("INSERT INTO fish VALUES ('Jamie', 'cuttlefish', 7)")

In [7]:
rows = cursor.execute("SELECT name, species, tank_number FROM fish").fetchall()
print(rows)

[('Sammy', 'shark', 1), ('Jamie', 'cuttlefish', 7)]

In [8]:
target_fish_name = "Jamie"
rows = cursor.execute(
    "SELECT name, species, tank_number FROM fish WHERE name = ?",
    (target_fish_name,),
).fetchall()
print(rows)

[('Jamie', 'cuttlefish', 7)]

In [9]:
new_tank_number = 2
moved_fish_name = "Sammy"
cursor.execute(
    "UPDATE fish SET tank_number = ? WHERE name = ?",
    (new_tank_number, moved_fish_name)
)

In [10]:
rows = cursor.execute("SELECT name, species, tank_number FROM fish").fetchall()
print(rows)

[('Sammy', 'shark', 2), ('Jamie', 'cuttlefish', 7)]

In [11]:
released_fish_name = "Sammy"
cursor.execute(
    "DELETE FROM fish WHERE name = ?",
    (released_fish_name,)
)

In [12]:
rows = cursor.execute("SELECT name, species, tank_number FROM fish").fetchall()
print(rows)

[('Jamie', 'cuttlefish', 7)]

In [13]:
from contextlib import closing

with closing(sqlite3.connect("aquarium.db")) as connection:
    with closing(connection.cursor()) as cursor:
        rows = cursor.execute("SELECT 1").fetchall()
        print(rows)

[(1,)]